*{
    
    margin: 3px;
  }
  .button-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 5px;
    width: max-content;
  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  
  }
  center{
    background-color: aqua;

  }
  li{
    background-color: bisque;
    width: fit-content;
  }




  